PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/balgrim?schema=public"
JWT_SECRET=replace_this_with_a_long_secret
JWT_EXPIRES_IN=7d
WOMPI_PUBLIC_KEY=pub_test_xxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxx
WOMPI_INTEGRITY_SECRET=integrity_test_xxxxx
WOMPI_EVENTS_SECRET=replace_with_wompi_events_secret
